
	<br/>

    <% @segments.each do |segment| %>
    
		<div class="segment_choose">
			
			<div class="segment_radio">
				<%= radio_button_tag 'chosen_segment', segment.id %>
			</div>
			<div class="segment_selection">
				<%= image_tag(segment.thumbnail, :class => "segment_img") %>	
				<div class="segment_desc"> 
					<div class="segment_title"> <%= segment.name %> </div> 
					<br/> <br/>
					<div class="segment_text"> <%= segment.description %> </div> 
				</div>
			</div> 

		</div>    

        <br/>

    <% end %>
