$('.segment_text:eq(<%= (@segment.order_in_plan - 1) %>)').replaceWith(
	'<div class="segment_text">' + '<%= @segment.get_description %> <br/>'	+ '</div>'
)
$('.segment_show:eq(<%= (@segment.order_in_plan - 1) %>)').replaceWith(
	'<%= link_to "Day by Day", daybyday_url(:segment_id => @segment.id), :class => "segment_show", :remote => :true %>'
)