// Place all the styles related to the plans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.plan_heading
{

  position:relative;
  height:25px;
  width:850px;
  margin:auto;
  background-color:white;
  color: brown;
  text-align:left;
  font-size:large;
  padding:5px;
  margin:auto;
//  border-style:solid;
}

div.segment
{
  position:relative;
  height:140px;
  width:850px;
  margin:auto;
  background-color:#F5F0E6;
//  border-style:solid;
}

img.segment_img
{
  position:absolute;
  top:20px;
  left:15px;
  height:100px;
  width:100px;
//  border-style:solid;
}

div.segment_desc
{
  position:absolute;
  top:10px;
  left:150px;
  height:90px;
  width:550px;
  //background-color:white;
  text-align:left;
  font-size:small;
  color:#47476B;
  padding:5px;
  margin:0px;
//  border-style:solid;
}

div.segment_title
{
  position:absolute;
  font-size:medium;
  font-weight: bold;
//  color:#4C3380;
}

a.segment_show
{
  position:absolute;
  top:15px;
  right:15px;
  text-align:left;
  font-size:small;
  color:#47476B;
  padding:5px;
}

