// Place all the styles related to the plans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.plan_heading
{
  position:relative;
  height:25px;
  width:850px;
  margin:auto;
  background-color:white;
//  border-style:solid;
//  border-width:1px;
}

div.plan_heading_title
{
  position:absolute;
  top:0px;
  left:0px;
  height:25px;
  width:650px;
  color:brown;
  text-align:left;
  font-size:large;
//  border-style:solid;
//  border-width:1px;
}

.plan_heading_actions
{
  position:absolute;
  top:10px;
  right:0px;
  height:15px;
  width:200px;
  color:green;
  text-align:right;
  font-size:small;
//  border-style:solid;
//  border-width:1px;
}

//
//  For Plan Listing
//

div.plan
{
  position:relative;
  height:90px;
  width:850px;
  margin:auto;
  background-color:#F5F0E6;
  box-shadow: 0px 0px 4px 1px #888888;  
//  border-style:solid;
//  border-width:1px;
}

div.plan_pictures
{
  position:absolute;
  top:10px;
  left:410px;
  height:70px;
  width:300px;
//  border-style:solid;
//  border-width:1px;
}

img.plan_img
{
  position:relative;
  height:60px;
  width:60px;
  padding:0px;
  margin:5px;
  float:left;
  box-shadow: 0px 0px 2px 1px #888888;
}

div.plan_desc
{
  position:absolute;
  top:10px;
  left:10px;
  height:70px;
  width:400px;
  text-align:left;
  font-size:small;
  color:#47476B;
  padding:5px;
  margin:0px;
//  border-style:solid;
//  border-width:1px;
}

div.plan_title
{
  position:absolute;
  font-size:medium;
  font-weight: bold;
//  color:#4C3380;
}

a.plan_show
{
  position:absolute;
  top:10px;
  right:15px;
  text-align:left;
  font-size:small;
  color:#47476B;
//  padding:5px;
}
a.plan_edit
{
  position:absolute;
  top:35px;
  right:15px;
  text-align:left;
  font-size:small;
  color:#47476B;
//  padding:5px;
}
a.plan_destroy
{
  position:absolute;
  top:60px;
  right:15px;
  text-align:left;
  font-size:small;
  color:#47476B;
//  padding:5px;
}

//
// New plan section
//

div.new_plan_section
{
  position:relative;
  margin-left: auto;
  margin-right: auto;
  width:1000px;
  font-size:small;
//  border-style:solid;
//  border-width:1px;
}


div.new_plan_header
{
  position:relative;
  margin-left: auto;
  margin-right: auto;
  height:130px;
  width:700px;
  background-color:#F5F0E6;
  box-shadow: 0px 0px 4px 1px #888888;
//  border-style:solid;
//  border-width:1px;
}

.title_section
{
  position:absolute;
  top:10px;
  left:150px;
  height:30px;
  width:500px;
//  border-style:solid;
//  border-width:1px;
}

.title_tag
{
  position:absolute;
  left:0px;
  height:30px;
  width:90px;
  text-align: right;
  color:#4C3380;
//  border-style:solid;
//  border-width:1px;
}

.title_field
{
  position:absolute;
  left:100px;
  width:390px;
}

.description_section
{
  position:absolute;
  top:40px;
  left:150px;
  height:80px;
  width:500px;
//  border-style:solid;
//  border-width:1px;
}

.description_tag
{
  position:absolute;
  top:5px;
  left:0px;
  height:30px;
  width:90px;
  text-align: right;
  color:#4C3380;
//  border-style:solid;
//  border-width:1px;
}

.description_field
{
  position:absolute;
  top:5px;
  left:100px;
  height:65px;
  width:390px;
  resize:none;
}

.plan_thumbnail
{
  position:absolute;
  top:15px;
  left:20px;
  height:100px;
  width:100px;
//  box-shadow: 0px 0px 2px 1px #888888;
//  border-style:solid;
//  border-width:1px;
}

.change_plan_thumbnail
{
  position:absolute;
  top:100px;
  left:125px;
  font-size:x-small;
}


.add_segment_link
{
  position:absolute;
  left:415px;
  height:30px;
  width:150px;
  padding:10px;
}

div.add_segment_section
{
  position:relative;
  height:130px;
  width:610px;
  margin:auto;
  background-color:#F5F0E6;
  box-shadow: 0px 0px 4px 1px #888888;
}

.segment_title_section
{
  position:absolute;
  top:10px;
  left:100px;
  height:30px;
  width:500px;
//  border-style:solid;
//  border-width:1px;
}

.segment_description_section
{
  position:absolute;
  top:40px;
  left:100px;
  height:80px;
  width:500px;
//  border-style:solid;
//  border-width:1px;
}

.segment_thumbnail
{
  position:absolute;
  top:20px;
  left:10px;
  height:80px;
  width:80px;
//  box-shadow: 0px 0px 2px 1px #888888;
//  border-style:solid;
//  border-width:1px;
}

.change_segment_thumbnail
{
  position:absolute;
  top:100px;
  left:35px;
  font-size:x-small;
}

.add_segment_button
{
  position:relative;
  height:30px;
  width:50px;
  color:#4C3380;
  font-weight:bold; 
  margin:10px;
  background-color:#C2D699;
  border-width : 0px;
  box-shadow: 0px 0px 2px 1px #888888;
}
