// Place all the styles related to the plans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.segment
{
  position:relative;
  height:130px;
  width:850px;
  margin:auto;
  background-color:#CDC9A5;
  border-style:solid;
}

img.segment_img
{
  position:absolute;
  top:10px;
  left:10px;
  height:100px;
  width:100px;
  border-style:solid;
}

div.segment_desc
{
  position:absolute;
  top:10px;
  left:130px;
  height:90px;
  width:600px;
  background-color:white;
  text-align:left;
  font-size:medium;
  padding:5px;
  margin:0px;
  border-style:solid;
}

div.segment_show
{
  position:absolute;
  top:10px;
  left:750px;
  text-align:left;
  font-size:medium;
  padding:5px;
}

