// Place all the styles related to the wizards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div.wizard_one
{
  position:relative;
  height:420px;
  width:1000px;
  border-style:solid;
  border-width:0px;
}

div.wizard_two
{
  position:relative;
  height:220px;
  width:1000px;
  border-style:solid;
  border-width:0px;
}

div.wizard
{
  position:absolute;
  top:50px;
  left:55px;
  height:300px;
  width:390px;
  text-align:left;
  border-style:solid;
  border-width:0px;
}

.wizard_title
{
  font-size:large;
  color:slateblue;
}

.wizard_body
{
  font-size:small;
}

.wizard_question
{
  font-size:large;
  color:slateblue;
}

input[type=text]
{
  border-style: solid;
  border-width : 1px;
}

.wizard_button
{
  border-style: solid;
  border-width : 1px;
  text-decoration : none;
  height:30px;
  width:50px;
  background-color:#C2D699;
  border-color:#C2D699;
  color:#4C3380;
  font-weight:bold;
  box-shadow: 0px 0px 2px 1px #888888;
}

div.feature
{
  position:absolute;
  top:10px;
  right:55px;
  height:400px;
  width:455px;
//  background-color:#CDC9A5;
//  background-color:#F0F0F0;
  background-color:#F5F0E6;
  border-style:solid;
  border-width:0px;
  box-shadow: 0px 0px 4px 1px #888888;
}

img.feature_img
{
  position:absolute;
  top:10px;
  left:10px;
  height:324px;
  width:432px;
  box-shadow: 0px 0px 2px 1px #888888;
}

div.feature_desc
{
  position:absolute;
  bottom:10px;
  left:10px;
  height:40px;
  width:425px;
//  background-color:white;
//  background-color:#F0F0F0;
//  background-color:#F5F0E6;
  text-align:left;
  font-size:small;
  padding:5px;
  margin:0px;
}

div.promo
{
  height:200px;
  width:215px;
// background-color:#CDC9A5;
//  background-color:#F0F0F0;
  background-color:#F5F0E6;
  box-shadow: 0px 0px 4px 1px #888888;
}

div.promo_desc
{
  position:absolute;
  bottom:10px;
  left:10px;
  height:20px;
  width:186px;
//  background-color:white;
//  background-color:#F0F0F0;
//  background-color:#F5F0E6;
  text-align:center;
  font-size:small;
  font-weight:bold;
  padding:3px;
  margin:0px;
}

img.promo_img
{
  position:absolute;
  top:10px;
  left:10px;
  height:144px;
  width:195px;
}

#promo_one
{
  position:absolute;
  top:10px;
  left:40px;
}

#promo_two
{
  position:absolute;
  top:10px;
  left:270px;
}

#promo_three
{
  position:absolute;
  top:10px;
  left:500px;
}

#promo_four
{
  position:absolute;
  top:10px;
  left:730px;
}