<div class="bigbox_footer">

	<div class="footer">
		<ul id="footer_menu">
			<li><a href="#">iPhone</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Help</a></li>
			<li><a href="#">Contact</a></li>
			<li><a href="#">Terms & Privacy</a></li>
		</ul>
		(c) Plan Mine Too Inc.
	</div>

</div>